header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.start {
  font-size: 2em;
  color: black;
}

.links {
  font-size: 1em;
  color: blue;
  margin-right: 40px;
  font-weight: 500;
}
